th, td {
  font: 14px Verdana;
}

table, th, td {
  padding: 1px 1px;
  text-align: center;
}

.text-danger {
  color: #dc3545 !important;
}

th {
  font-weight: bold;
}

#cabecera {
  border-top-width: 10px;
  border-right-width: 1em;
  border-bottom-width: thick;
  border-left-width: thin;
}

.richtext {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}


.example-button-row {
  display: table-cell;
  width: 800px;
  text-align: right;
}

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

mat-form-field {
  margin-right: 12px;
}

